/* estilos generales */ 
* {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

body {
	background-color: lightblue;
}

header{
	width: 100%; 
}

table {
	width: 100%;
}
footer {
	background: gray;
}

/*menu nav*/
nav {
    padding: 15px;
    text-align: center;
    background-color: lightblue;
}

nav a {
    background-color: #bee0f8 ;
    color: black;
    width: 120px;
    height: 30px;
    margin-left: 5px;
    padding: 10px 25px;
    text-align: center;
    border-radius: 5px;
}

nav a:hover {
    background-color: #5d91f8;
    color: Black;
    cursor: pointer;
}

.active {
    background-color: #242994;
    color: white;
}

.imgLogo { /* estilo para logo */
	width: 20%;
	margin-left: 40%;
}

/* index */ 

/* estilo img central */

.destacado {
	width: 100%;
	height:700px;
	text-align: right;
	color: #272e3c;
	background: url('../../img/slider.png');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.destacado h2 {
	padding-top: 10px;
	margin-top: 20px;
	margin-right: 50px;
	color: white;
	font-weight: bold; 
	font-size: 3rem;

}

.destacado p {
	font-weight: normal; 
	font-size: 1.2rem;
	margin: 10px 50px 50px auto;
	width: 30%;
	color: white;

}

/* footer */

.tablaEncabezado {
	text-align: center;
	font-family: tahoma;
	font-size: 2rem;  
	font-weight: lighter;
}
.tablaTxtIzq {
	font-size: 1rem;
	font-weight: 500;
	margin-left: 50px;
	text-align: left;
	line-height: 20px;
	width: 33%;
	padding-left: 55px;
	font-weight: bold; 
}
.tablaTxtCen {
	font-style: italic;
	font-size: 1rem;
	text-align: center;

	width: 33%;
}
.tablaTxtDer {
	font-size: 1rem; 
	font-weight: normal; 
	font-style: normal; 
	text-align: center;
	width: 33%;
}

.mapaFooter{ /* mapa footer */
	width: 30vw;
}

/*nosotros*/

#nosotros {
	margin-top: 25px;

}

#nosotros article h2 { 
	text-align: center;
}

#nosotros article table {
	text-align: center;
}

#nosotros article table tr p {
	text-align: justify;
	padding: 5px 90px 5px 100px;
}
#nosotros article table tr img {
	text-align: center;
	padding: 5px 100px 5px 50px;
}

.listaCaract {
	text-align: left;
	display: inline-block;
	padding-bottom: 25px;
}
.centradoLista {
	text-align: center;
}

#nosotros article .parrafoNosotros {
	margin: 5px 100px 55px 100px;
	text-align: left;
	font-weight: bold;
}


/*clientes*/
#clientes {
	background-color: #194D8C;
	color: #a9c9f0;
	text-align: center;
	padding: 25px 50px 25px 50px;
}

#clientes table {
	text-align: center;
	padding: 50px 25px 5px 25px;
}

/*servicios*/

#servicios {
	padding: 35px 50px 25px 50px;
}

#servicios h2 {
	text-align: center;
	padding-bottom: 35px;
}

.tablaExterna {
	display: inline-block;
	text-align: center;
}
.tablaInterna {
	width: 	45%;
	height: 50px;
	margin: 5px 15px 5px 25px ;
	border: solid 1px black;
	margin: 5px;
}
.tablaInterna p {
	text-align: left;
	margin-left: 5px;
}

/*contacto*/ 

form {
	background: white;
	border-radius: 10px;
	padding:2rem;
	width: 40%;
	margin:2rem auto;
}

label {
	display: block;
	margin: 0.8rem 0 0.3rem 0;
}

input {
	width: 95%;
	padding: 0.3rem;
	border: solid 1px gray;
	border-radius: 5px;
}

.espacioSelect {
	width: 85%;
	margin: 0.8rem 0 0.5rem 0;

}

.btn {
	width: 96%;
	margin-top: 0.7rem;
	color: white;
	padding: 0.3rem;
	background-color: #242994;
	justify-content:center;
}

.consultaBox {
	width: 96%;
    padding: 0.3rem;
    border: solid 1px gray;
    border-radius: 5px;
}
.textBox {
	width: 95%;
    padding: 0.3rem;
    border: solid 1px gray;
    border-radius: 5px;
}
